{% load staticfiles %}
<html>
    <head>
        <title>DocLab : {% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/main.css' %}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="container">
                    {% if request.user.is_authenticated %}
                    <span class="icon-user"> {{ request.user.username }}</span>
                    <a href="." alt="settings" title="Account Settings">
                        <span class="icon-cog">
                        </span>
                    </a>
                    <a href="{% url 'logout' %}" alt="logout" title="Sign Out">
                        <span class="icon-exit">
                        </span>
                    </a>
                    {% else %}
                        <span>Hello Anon</span>
                        <a href="{% url 'user-login' %}" alt="login" title="Sign in">
                            Sign In
                            <span class="icon-enter">
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="site">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    Footer!
                </div>
            </div>
        </div>
    </body>
</html>
